<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DUMAX</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>com.dumax.DLog</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>login</servlet-name>
 	<url-pattern>/Dlogin</url-pattern>
 </servlet-mapping>
 
 <servlet>
  	<servlet-name>register</servlet-name>
  	<servlet-class>com.dumax.DReg</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>register</servlet-name>
 	<url-pattern>/DReg</url-pattern>
 </servlet-mapping>
 
 <servlet>
    <servlet-name>CheckSession</servlet-name>
    <servlet-class>com.dumax.CheckSession</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>CheckSession</servlet-name>
    <url-pattern>/CheckSession</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.dumax.Logout</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
</servlet-mapping>
 
 <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.dumax.OrderServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
</servlet-mapping>
</web-app>